<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Quizes</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/11d589870a.js" crossorigin="anonymous"></script>
</head>
<body>
    <div class="navbar-container">
        <div class="left">
            
            <div class="quiz-name">
                <h1>Test your Knowledge</h1>
            </div>
        </div>
        <div class="right">
            <div class="after" onclick="toHome(`<%= data._id %>`)">
                <i class="fas fa-user-circle"></i>
            </div>
            <div class="logout" onclick="main()"> 
                <i class="fas fa-sign-out-alt"></i>
            </div>
            
        </div>
        </div>
    <div class="container-fluid center">
        <div class="allinput">
            <div class="inputs">
    <input type="number" id="select_number" class="form-control centerTextBox" min="1" max="30" value="10">
    </div>
    <div class="inputs">
    <select name='searchbar-1' class="form-control centerTextBox">
        <option value="Any Category">Any Category</option>
        <option value="Books">Books</option>
        <option value="Film">Film</option>
        <option value="Sports">Sports</option>
        <option value="General Knowledge">General Knowledge</option>
        <option value="Computer Science">Computer Science</option>
        <option value="Music">Music</option>
    </select>
    </div>
    <div class="inputs">
    <select name='searchbar-2' class="form-control centerTextBox">
        <option value="Any Difficulty">Any Difficulty</option>
        <option value="Easy">Easy</option>
        <option value="Medium">Medium</option>
        <option value="Hard">Hard</option>
    </select>
    </div>
    <div class="inputs">
    <select name='searchbar-3' class="form-control centerTextBox"   onkeypress="this.style.width = 
    ((this.value.length + 1) * 8) + 'px';">
        <option value="Any Type">Any Type</option>
        <option value="Multiple Choice">Multiple Choice</option>
        <option value="True / False">True / False</option>
    </select>
    </div>
    </div>
    
    <div class="centerButton">
        <div class="error-message"></div><button id="btn">Create Quiz</button></div>
   
    </div>
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
        html,body{
                margin: 0px;
        padding: 0px;
        width: 100%;
        height: 100%;
        }
    .center {
        margin-top: 100px;
        width: 50%;
        border: 3px solid green;
        padding: 2px;
      }
      .centerTextBox {
        margin: auto;
        width: 50%;
        border: 2px solid black;
        padding: 3px;
      }
      .centerButton {
        margin: auto;
        width: 50%;
        padding: 10px;
      }
      .allinput{
          padding: 5px;
      }
      .inputs{
          padding:  20px;
      }
      select{
          padding: 30px;
      }
      .navbar-container
        {
            width: 100%;
            height: 60px;
            display: flex;
            flex-direction: row;
            align-items: center;
            background-color: rgb(135, 172, 241);
            justify-content: space-between;
            color:black;
        }
        .navbar-container > div
        {
            display : flex;
            align-items: center;
        }
        .left > div
        {
            padding-left: 20px;
        }

        .logout{
            font-size: 25px;
        }
        .after{
            font-size: 25px;
        }
        .right>div{
            padding-right: 20px;
        }
        .logout,.after:hover{
            cursor: pointer;
        }
        @media screen and (max-width: 1100px) {
            .quiz-name{
                width: 80%;
                padding-top: 10px;
            }
        
            .navbar-container{
                height: 20%;
            }
            .after{
                font-size: 35px;
            }
            .logout{
                font-size: 35px;
            }
            .center{
                height: auto;
            }
            
   
}
    </style>
    
</body>
<script>

    
    document.getElementById('btn').onclick=()=>{
        var typ = document.querySelector("select[name='searchbar-3']")
        var diff = document.querySelector("select[name='searchbar-2']")
        var cat = document.querySelector("select[name='searchbar-1']")
        const num = document.getElementById("select_number").value
     
        data={}
        const value_type = typ.value;
        const option_type = typ.querySelector(`option[value='${value_type}']`)
        const text_type = option_type.innerText
        const value_diff = diff.value;
        const option_diff = diff.querySelector(`option[value='${value_diff}']`)
        const text_diff = option_diff.innerText
        const value_cat = cat.value;
        const option_cat = cat.querySelector(`option[value='${value_cat}']`)
        const text_cat = option_cat.innerText
        
        data.noofquestions=num
        data.type=text_type
        data.difficulty=text_diff
        data.category=text_cat
        for(x in data)
        {
            if(data[x]==="")
            {
                alert('Fill up the empty slots')
                return
            }
        }
        const u = `<%= data._id%>`
        const url = `${window.location.origin}/api/create/${u}`
        fetch(url,{
            method:'POST',
            headers: {
                'Content-Type': 'application/json;charset=utf-8'
            },
            body:JSON.stringify(data),
        })
        .then((Response)=>Response.json())
        .then((data)=>{
            if(data.status){
                console.log(data)
                if(data.data.answers_det[0].category==="Quiz Not Available"){
                    document.querySelector('.error-message').innerHTML="Quiz not available"
                }
                else{
                location.assign(`${window.location.origin}/api/quiz/${data.data.quizId}`)
                }
            }
            else{
                alert('Failed')
            }
        })
  
    }
    const toHome=(val)=>{
        location.assign(`${window.location.origin}/api/getall/${val}`)
    }
    const main=()=>{
        location.assign(`${window.location.origin}`)
    }
 
  
    
   
    
    
</script>
</html>